exportPattern("^[[:alpha:]]+")
importFrom("graphics", "lines", "text")
importFrom("stats", "quantile")
importFrom("stats", "cor", "rnorm")
importFrom("stats", "rbeta", "runif")
importFrom("graphics", "mtext")
importFrom("stats", "median")
importFrom("graphics", "points")
